<div class="center-align">
  <h1><i class="fa fa-users fa-2x"></i></h1>
  <h1>Social Press</h1>
  <p>Welcome to Social Press 1.0</p>
  <p>A Social Media Platform to publish your stories or use it as your own private diary</p>
  {{#if user}}

  {{else}}

  <a href="/auth/google" class="btn red darken-1"><i class="fa fa-google-plus-square left"></i>Login With Google</a>

  {{/if}}
</div>