body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

header {
  margin-bottom: 3rem; }

main {
  flex: 1 0 auto; }

.card .card-content .story-title {
  min-height: 70px; }

.card .card-content .story-time {
  padding: 0.5rem;
  background-color: whitesmoke;
  border-radius: 20px; }

.card .card-content .story-text {
  height: 100px; }

.dash-status {
  text-transform: capitalize; }

#delete-form {
  display: inline; }

.nav-wrapper .fa-bars {
  font-size: 25px; }

footer {
  margin-top: 20px; }
